.content-bek-ofis > div {
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    margin-bottom: 1em;
}
.content-bek-ofis h3 {
    margin-top: .5em;
}

.style-form {
    background-color: #d6efff;
    border-radius: 5px;
    padding: 2rem;
}

.style-form > label {
    font-weight: bold;
    display: block;
    text-transform: uppercase;
}